footer {
    background-image: url('./../img/footer-background.png');
    .footer-text {
        width: 60%;
    }
    p {
        display: inline-block;
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: #4F4F4F;
    }
}