.button-red {
    background-color: #FF5C5C;
    color: #FFFFFF;
}

header {
    position: relative;
    display: flex;
    flex-direction: column;
    background-image: url('./../img/header_background-image.png');
    background-size: 100%;

    .navigation {
        &__callback-button {
            width: 147px;
            height: 26px;
            border-radius: 2px;
            border: none;
            cursor: pointer;
        }

        &__callback-number {
            font-size: 18px;
        }

        &__callback {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        display: flex;
        justify-content: space-between;

        &__logo-text {
            font-size: 12px;
            text-align: end;
            margin-top: -6px;
        }

        &__navbar {
            list-style: none;
            flex-wrap: wrap;
            display: flex;
            padding: 0 30px;

            &__item {
                margin: 0 10px;

                a {
                    text-decoration: none;
                    color: black;
                    border-bottom: 0.25px solid #BCBFC4;
                    font-size: 16px;
                }
            }
        }
    }

    .short-deskription {
        display: flex;
        flex-direction: column;
        width: 50%;

        &__text-1 {
            font-size: 32px;
        }

        &__text-2 {
            font-size: 23px;
        }

        &__icons {
            list-style: none;
            display: flex;
            justify-content: space-around;
            padding: 0;
        }

        &__icon {
            width: 130px;
            height: 145px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__icon-text {
            font-size: 13px;
            text-align: center;
        }
    }

    .modal-window {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 300px;
        height: 400px;
        padding: 50px 65px 20px 65px;
        background-color: #FFFFFF;
        position: absolute;
        bottom: -5%;
        right: 10%;

        &__caption {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 700;
            font-size: 23px;
            line-height: 32px;
        }

        &__alert {
            color: #80A2C5;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 14px;
            line-height: 18px;
        }

        &__form {
            display: flex;
            flex-direction: column;
            width: 100%;

            &-label {
                margin-bottom: 5px;
            }

            &-input {
                margin-bottom: 15px;
                border: none;
                background-color: #EDEFF2;
                padding: 5px;

                &:focus {
                    outline: none;
                }
            }
        }

        &__confiditial {
            color: #BCBFC4;
            position: relative;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 10px;
            line-height: 12px;
            text-align: center;
            &::before {
                content: '';
                position: absolute;
                left: -20px;
                bottom: -5px;
                width: 20px;
                height: 20px;
                background-repeat: no-repeat;
                background-image: url('./../img/icons/lock.svg');
            }
        }

        &__button {
            border: none;
            height: 50px;
            text-transform: uppercase;
            margin-bottom: 10px;
        }
    }
}