.ous-production__items {
  display: flex;
  padding: 0;
}

hr.doter-horizon-line {
  display: block;
  height: 1px;
  border: 0;
  border-top: 5px dashed rgba(0, 0, 0, 0.1);
  margin-bottom: 100px;
  padding: 0;
}

.ous-production {
  h1 {
    text-align: center;
    font-family: 'Roboto';
    text-transform: uppercase;
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #646566;
  }

  &__item {
    list-style: none;
    width: 160px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

    &.ousProductionActiveItem {
      background: #FAFAFA;
      box-shadow: inset 1px 1px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      transition: all 0.4s ease;
    }

    &>span {
      font-weight: bold;
    }
  }
}

.production-slaider {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 120px;

  &__button-back {
    content: '';
    width: 45px;
    height: 45px;
    background-image: url(./../img/icons/button-back.svg);
    background-repeat: no-repeat;
  }

  &__button-forw {
    content: '';
    width: 45px;
    height: 45px;
    background-image: url(./../img/icons/button-back.svg);
    background-repeat: no-repeat;
    transform: rotate(180deg);
  }

  &__body-slaider {
    display: flex;
    flex-direction: column;
    width: 800px;
  }

  &__picture {
    grid-area: slaiderimage;
    height: 100%;
  }

  &__name {
    grid-area: slaidername;
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    align-items: center;
    letter-spacing: 0.04em;
    color: #939599;
  }

  &__text {
    grid-area: slaidertext;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0;
    color: #646566;
  }

  &__body-slaider {
    &_grid-wrapper {
      display: grid;
      gap: 30px;
      grid-template-areas: "slaiderimage slaidername slaidername"
        "slaiderimage slaidertext slaidertext";
    }
  }
}

.production-slaider__button {
  position: absolute;
  bottom: 0px;
  left: 40%;
  background: #FFFFFF;
  border: 2px solid #FFAEAE;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
  border-radius: 4px;
  box-sizing: border-box;
  height: 50px;
  width: 290px;
  color: #FF5C5C;
  font-weight: 700;
  font-size: 14px;
  line-height: 22px;
}

.production-slaider__body-slaider__item {
  display: none;

}

.production-slaider__body-slaider__item.show {
  display: block;
  animation-name: vissuali-hidden;
  animation-duration: 2s;
}

.production-slaider__button-back,
.production-slaider__button-forw {
  cursor: pointer;
}

@keyframes vissuali-hidden {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.ous-production__items {
  display: flex;
  justify-content: space-around;
}

$maxHeightForListSolution: 1000px;

.industry-solutions {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;

  h1 {
    text-align: center;
  }

  &__caption {
    color: #646566;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
  }

  &__list-solutions {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: center;
    max-height: $maxHeightForListSolution;
    overflow: hidden;
    transition: max-height 1s ease, overflow 1s ease-out;

    &.visually-hidden {
      max-height: 0px;
      overflow: hidden;
      transition: max-height 1s ease, overflow 1s ease-out;
    }
  }

  &__item-solution {
    flex: 0 0 200px;
    min-height: 260px;
    margin: 8px 8px;
    border-radius: 2%;
    padding: 10px 23px 0 48px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);

    &_vagatables {
      background-image: url('../img/vagetable.png');
      background-repeat: no-repeat;
      background-size: cover;
    }

    h2 {
      text-align: center;
      margin-left: -20px;
      text-transform: uppercase;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 17px;
      line-height: 26px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #646566;
      ;
    }

    &__list-in-item {

      padding: 0;
      list-style: none;

    }

    &__item-of-list {
      padding: 5px 0;
      position: relative;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 12px;
      line-height: 15px;
      color: #646566;
      ;

      &::before {
        position: absolute;
        content: '';
        left: -26px;
        top: 7px;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        background: rgba(255, 174, 174, 0.8);
      }
    }
  }

  &__button-close-open {
    margin: 15px auto;
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &__text {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      text-align: center;
      color: #FFAEAE;
      margin: 10px 0;
    }

    &>div.button-c-o {
      content: '';
      height: 46px;
      width: 46px;
      align-self: center;
      background-image: url('../img/Subtract.png');

    }
  }

  &__text-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    width: 394px;
  }

  &__consultation-button {
    border: none;
    height: 50px;
    box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.16), 0px 2px 4px rgba(0, 0, 0, 0.24);
    border-radius: 2px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  }
}

.sliderProdWrapper {
  display: flex;
  align-items: center;

  &>.prev-back {
    position: relative;
  }

  &>.next-forw {
    position: relative;
  }

  &>.prev-back::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 42px;
    height: 42px;
    background-image: url('./../img/icons/button-back.png');
  }

  &>.next-forw::before {
    content: '';
    position: absolute;
    right: 0;
    bottom: 50%;
    width: 42px;
    height: 42px;
    background-image: url('./../img/icons/button-back.png');
    transform: rotate(180deg);
  }
}

.sliderProduction {
  width: 980px;
  height: 170px;

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background: #8b8c8d;
    border: 1px solid #BCBFC4;
  }

  .swiper-pagination-bullet-active {
    background: rgba(255, 51, 51, 0.5);
    width: 10px;
    height: 10px;
  }
}

.wrapper-our-products-and-sliderProduction {
  background-image: url('./../img/our-product-background.png');
  background-size: cover;
  position: relative;
  z-index: 0;

  &::after {
    z-index: -1;
    content: '';
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255, 0.5) 100%);
  }

}

.our-products {
  margin: 0 auto;
  width: 980px;

  &>.our-products__caption {
    text-align: center;
    padding-top: 50px;
  }

  &__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
  }

  &__euroflex-this-list {
    list-style: none;
    padding: 0;
    font-size: 16px;
    line-height: 25px;

    &__item {}
  }

  &__link {
    color: #FF5C5C;
    font-weight: 700;
    font-size: 16px;
    line-height: 25px;
  }

  &__statistic {
    display: flex;
    margin-bottom: 30px;
    margin-top: 30px;
  }

  &__statistic-block {
    &__name {
      display: flex;
      align-items: flex-end;
      font-weight: 700;
      font-size: 50px;
      line-height: 59px;
      color: #FF5C5C;

      &>span {
        font-size: 28px;
        line-height: 33px;
        padding-bottom: 5px;
      }
    }

    &__descrition {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
    }
  }
}


.advantages {
  &__wrapper {
    margin-top: 100px;
  }

  &__h1 {
    text-align: center;
  }

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
  margin: 50px 0;

  &__item {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__icon {
    width: 89.31px;
    height: 89.31px;
  }

  &__text {
    text-align: center;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    letter-spacing: 0.04em;
  }
}

.questions {
  width: 600px;
  // margin: 0px auto auto 250px;
  padding-top: 83px;

  h2 {
    font-weight: 500;
    font-size: 32px;
    line-height: 38px;
    color: #FFFFFF;
    align-items: center;
  }

  &-checkbox {
    display: grid;
    row-gap: 50px;
    grid-template-columns: 1fr 1fr;

    &__item {
      display: flex;
      align-items: center;
      input {
        width: 20px;
        height: 20px;
      }
      label {
        margin-left: 20px;
        color: #EDEFF2;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        text-decoration-line: underline;
      }
    }
  }

  .modal-window_question {
    position: absolute;
    right: 5%;
    bottom: 5%;
  }

  &_wrapper {
    background-image: url('./../img/question-img.png');
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;
    width: 100%;
    height: 528px;
    opacity: 0.8;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(34, 34, 34, 0.8);
      z-index: -1;
    }
  }
}